@use './reset';
@use './typography';
@use './colors';

@use './elements/footer';
@use './elements/main';

@use './svgs/coffee';
@use './svgs/developer';
@use './svgs/logo';
@use './svgs/monitors';
@use './svgs/plant';
@use './svgs/rain';
@use './svgs/stars';
@use './svgs/window';

@font-face {
  font-family: 'Damase';
  src: url('damase.woff2') format('woff2');
}

:root {
  --color: #{colors.$black};
  --background-color: #{colors.$white};
}

html,
body {
  font-family: 'Damase', serif;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
