@use '../mixins/breakpoints';
@use '../mixins/animations';

$font-size: 3.2rem;
$height: 8rem;

.footer {
  @include animations.animation(0.25s, 2.25s, fade-in, 1, both);
  font-size: $font-size;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  @include breakpoints.laptop {
    animation: unset;
  }

  @include breakpoints.mobile-landscape {
    display: none;
  }
}
