@use '../mixins/breakpoints';
@use '../mixins/animations';

$spacing-tablet: 8rem;
$border-width: 0.2rem;
$border-style: $border-width solid #000;

.main {
  position: absolute;
  overflow: hidden;
  opacity: 0;

  @include breakpoints.tablet {
    @include animations.animation(0.25s, 2.25s, fade-in, 1, both);
    margin: $spacing-tablet;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-left: $border-style;
    border-bottom: $border-style;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 18rem);
      top: 0;
      height: $border-width;
      background-color: #000;
      z-index: 1000;
    }

    &::after {
      content: '';
      position: absolute;
      height: calc(100% - 22rem);
      bottom: 0;
      right: 0;
      width: $border-width;
      background-color: #000;
      z-index: 1000;
    }
  }

  @include breakpoints.laptop {
    animation: unset;
    opacity: 1;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: $border-style;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @include breakpoints.mobile-landscape {
    display: none;
  }
}
