@use 'sass:math';
@use '../mixins/animations';
@use '../mixins/breakpoints';

$tablet-height: 32rem;
$laptop-height: 22vh;
$portrait-height: 20vw;
$stroke-color: #000;
$fill-color: #fff;

.svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.fg {
    height: 105%;
    width: auto;
  }

  &.bg {
    width: 115%;
    height: 105%;
  }

  .code {
    > circle {
      visibility: hidden;

      @for $i from 1 through 76 {
        &:nth-child(#{$i}) {
          @include animations.animation(#{$i * 0.15}s, 1s, appear, infinite);
        }
      }
    }
  }

  .svg-link {
    transform-origin: 25% 25%;
    transform-box: fill-box;
    &:hover {
      transition: 0.15s;
      transform: scale(1.05);
    }
  }
}

.text {
  height: $tablet-height;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  fill: $fill-color;
  stroke: $stroke-color;

  @include breakpoints.tablet {
    position: fixed;
    top: 0;
    left: unset;
    right: 0;
    transform: unset;
  }

  @include breakpoints.laptop {
    h1 & {
      display: none;
    }

    position: absolute;
    top: 20.5%;
    right: 10.5%;
    height: $laptop-height;
    fill: rgba(255, 255, 255, 0.9);
    stroke: $stroke-color;

    @include breakpoints.portrait {
      height: $portrait-height;
    }
  }

  @include breakpoints.mobile-landscape {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .letter {
    stroke-width: 1.5;
    visibility: hidden;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        @include animations.animation(
          #{0.15 * $i}s,
          #{1.5 - math.div(0.85, $i)}s,
          slide-left
        );
      }
    }
  }
}
