@use '../mixins/animations';
@use '../mixins/breakpoints';
@use './index' as svg;

.coffee {
  position: absolute;
  bottom: 9%;
  right: 22%;
  height: 12.5%;
  stroke-width: svg.$stroke-width-sm;

  @include breakpoints.portrait {
    right: 14%;
  }

  .coffee-drop {
    @for $i from 5 through 7 {
      &:nth-child(#{$i}) {
        @include animations.animation(#{$i * 0.2}s, 2s, drip, infinite);
      }
    }
  }
}
