@use '../sizes';
@use './index' as svg;
@use '../mixins/breakpoints';

$bottom-tablet: -0.1rem;
$bottom-laptop: -0.2rem;

.developer {
  position: absolute;
  bottom: $bottom-tablet;
  left: 50%;
  transform: translateX(-50%);
  height: 35%;
  stroke-width: svg.$stroke-width-lg;

  .bun {
    stroke-width: svg.$stroke-width-sm;
  }

  .keyboard {
    stroke-width: svg.$stroke-width-md;
  }

  @include breakpoints.laptop {
    bottom: $bottom-laptop;
  }
}
