@use '../mixins/animations';
@use '../mixins/breakpoints';
@use '../sizes';
@use './index' as svg;

.monitors {
  position: absolute;
  left: 50%;
  bottom: 17%;
  transform: translateX(-50%);
  stroke-width: svg.$stroke-width-lg;
  height: 35%;

  @include breakpoints.portrait {
    bottom: 22%;
    height: auto;
    width: 50%;
    transform: scale(1.5) translateX(-30%);
  }

  .code-editor {
    fill: #3c363d;
  }

  .code-block {
    .code {
      visibility: hidden;

      @for $i from 1 through 76 {
        &:nth-child(#{$i}) {
          @include animations.animation(#{$i * 0.15}s, 1s, appear, infinite);
        }
      }
    }
  }

  .monitor-1:hover {
    transition: 0.25s;
    transform: translate(-2%, -4%) scale(1.1);
  }
  .monitor-2:hover {
    transition: 0.25s;
    transform: translate(-7%, -4%) scale(1.1);
  }
}
