@use '../mixins/breakpoints';
@use './index' as svg;

.plant {
  position: absolute;
  bottom: 13%;
  left: 13%;
  height: 18%;
  stroke-width: svg.$stroke-width-md;

  @include breakpoints.portrait {
    left: 5%;
    bottom: 12%;
  }
}
