@use 'sass:math';
@use '../mixins/animations';

.rain {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;

  .raindrop {
    opacity: 0.15;
    width: 0.075rem;

    @for $i from 1 through 58 {
      &:nth-child(#{$i}) {
        @include animations.animation(
          #{0.5 + math.random()}s,
          #{0.5 + math.random()}s,
          drop-down,
          infinite
        );
      }
    }
  }
}
